main {
    display: flex;
    height: 200vh;
    justify-content: center;
}

.lyrics {
    align-self: center;
    text-align: center;
    font-size: 30px;
    color: #555;
    line-height: 1.6;
    letter-spacing: 2px;
}
